# ShadowTraffic license variables.
# Copy this file to `license.env` (same directory) and paste in the values
# from your free license at https://shadowtraffic.io/pricing.html
#
#   cp shadowtraffic/license.env.example shadowtraffic/license.env
#
# license.env is git-ignored. Do NOT commit your real license.

LICENSE_ID=96ff16f6-f894-4b99-8216-4d745b47eac0
LICENSE_EMAIL=johnlwasserman+estuary@gmail.com
LICENSE_ORGANIZATION=Estuary
LICENSE_EDITION=ShadowTraffic Free Trial
LICENSE_EXPIRATION=2026-07-09
LICENSE_SIGNATURE=ASmAmqKqu7G/GGyS/LlkReL0cAsqWJnsGjEXaisXzqbIvsLjfD7hVMpD6nhDWjrp1WqmFsVAXNXPWyXYYyKEeYbGl1dips+K9Bx/zqYqFcgdzBF8cd7BoCURwPLyut64QlDmDaGQWorgWtwBy2GfVfqQw2VY78kl07+rvEQcl0gp6gbtKwt+z8VvRpOra+UEa4Bo4XFIVupm4+xGx9xXR7SYNbdi8Qbu3jgFwtob/ro/nwJguJEIhvrLQ1YmHWW+dfER5PKXZ8i/Rz26MGu6FDsz9ZmG7oXJ9wsxxesX+bbvvYJrGX5LwzHO2iGhny5uLVdglCZifwu/jLFp7Ii3AA==
